<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h3 class="h3 fw-bold text-danger">Edit Passanger</h3>
      <p>Edit Passanger by filling this form</p>
    </div>
  </div>
</div>
<pre>{{ passanger | json }}</pre>
<!-- Edit passanger form -->
<div class="container mt-3">
  <div class="row">
    <div class="col-sm-4">
      <form>
        <div class="mb-2">
          <input
            [(ngModel)]="passanger.name"
            name="name"
            required="true"
            type="text"
            class="form-control"
            placeholder="{{ passanger.name }}"
          />
        </div>
        <div class="mb-2">
          <input
            required="true"
            type="text"
            class="form-control"
            placeholder="{{ passanger.photo }}"
          />
        </div>
        <div class="mb-2">
          <input
            required="true"
            type="text"
            class="form-control"
            placeholder="{{ passanger.city }}"
          />
        </div>
        <div class="mb-2">
          <select name="" id="" class="form-control">
            <option value="">Group</option>
          </select>
        </div>
        <div class="mb-2">
          <input type="submit" class="btn btn-primary" value="Update" />
          <a routerLink="/" class="btn btn-dark ms-2">Close</a>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <img src="{{ passanger.photo }}" alt="" class="addImg" />
    </div>
  </div>
</div>
