<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h3 class="h3 fw-bold text-danger">View Passanger</h3>
      <p>Passenger details</p>
    </div>
  </div>
</div>

<!-- Passanger Details -->
<div class="container mt-5">
  <div class="row align-items-center">
    <div class="col-sm-4">
      <img
        src="https://placeimg.com/640/640/animals"
        alt=""
        class="detailImg"
      />
    </div>
    <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item">Id : <span class="fw-bold">Id</span></li>
        <li class="list-group-item">
          Name : <span class="fw-bold">Name</span>
        </li>
        <li class="list-group-item">
          City : <span class="fw-bold">City</span>
        </li>
        <li class="list-group-item">
          Group : <span class="fw-bold">Group</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="row align-items-center mt-3">
    <div class="col">
      <a routerLink="/" class="btn btn-primary btn-block">
        <i class="fa fa-arrow-alt-circle-left"></i>
        Back</a
      >
    </div>
  </div>
</div>
