<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h3 class="h3 fw-bold text-danger">Add Passanger</h3>
      <p>Add New Passanger by filling this form</p>
    </div>
  </div>
</div>

<!-- Create passanger form -->
<div class="container mt-3">
  <div class="row">
    <div class="col-sm-4">
      <form>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Name" />
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Photo Link" />
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="City" />
        </div>
        <div class="mb-2">
          <select name="" id="" class="form-control">
            <option value="">Group</option>
          </select>
        </div>
        <div class="mb-2">
          <input type="submit" class="btn btn-primary" value="Create" />
          <a routerLink="/" class="btn btn-dark ms-2">Close</a>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <img src="https://placeimg.com/640/640/animals" alt="" class="addImg" />
    </div>
  </div>
</div>
