<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h3 class="h3 fw-bold text-danger">Add Passanger</h3>
      <p>Add New Passanger by filling this form</p>
    </div>
  </div>
</div>

<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!loading && errorMessage">
  <div class="container">
    <div class="row">
      <div class="col">
        <p>{{ errorMessage }}</p>
      </div>
    </div>
  </div>
</div>

<!-- Create passanger form -->
<div class="container mt-3">
  <div class="row">
    <div class="col-sm-4">
      <form (submit)="createSubmit()">
        <div class="mb-2">
          <input
            required="true"
            [(ngModel)]="passanger.name"
            name="name"
            type="text"
            class="form-control"
            placeholder="Name"
          />
        </div>
        <div class="mb-2">
          <input
            required="true"
            [(ngModel)]="passanger.photo"
            name="photo"
            type="text"
            class="form-control"
            placeholder="Photo Link"
          />
        </div>
        <div class="mb-2">
          <input
            required="true"
            [(ngModel)]="passanger.city"
            name="city"
            type="text"
            class="form-control"
            placeholder="City"
          />
        </div>
        <div class="mb-2">
          <select
            required="true"
            [(ngModel)]="passanger.groupId"
            name="groupId"
            id=""
            class="form-control"
            *ngIf="groups.length > 0"
          >
            <option value="{{ item.id }}" *ngFor="let item of groups">
              {{ item.name }}
            </option>
          </select>
        </div>
        <div class="mb-2">
          <input type="submit" class="btn btn-primary" value="Create" />
          <a routerLink="/" class="btn btn-dark ms-2">Close</a>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <img [src]="passanger.photo" alt="" class="addImg" />
    </div>
  </div>
</div>
